{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}
	{% if articles %}
		<table id="articles" class="table table-striped">
			<thead>
				<tr>
					<th>Article Title</th>
					<th>Article Body</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{article.title}}</td>
						<td>{{article.body}}</td>
						<td>
							<a href={{ path('article_show',{'id': article.id} )}} class="btn btn-primary">Show</a>
							<a href={{ path('edit_article',{'id': article.id} )}} class="btn btn-secondary">Edit</a>
							<a href={{ path('article_delete',{'id': article.id} ) }} class="btn btn-danger delete-article" data-id={{ article.id }}>Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No article found</p>
	{% endif %}
{% endblock %}
